{{#hastilephoto}}
    {{#showprogressphototiles}}
        {{#progress}}
            <div class="completion-spacer float-right"></div>
        {{/progress}}
    {{/showprogressphototiles}}
{{/hastilephoto}}
{{^hastilephoto}}
    {{#progress}}
        <div class="completion-spacer float-right"></div>
    {{/progress}}
{{/hastilephoto}}