<span class="tiles-editor-image text-center" {{#editing}} data-section="{{num}}" data-true-sectionid="{{id}}" data-action="launch-tiles-icon-picker" role="button"{{/editing}} id="tileicon_{{num}}">
    {{^hasphoto}}
        <span class="tile-icon">
            {{#tileicon}}
                {{#pix}}tileicon/{{{tileicon}}}, format_tiles{{/pix}}
            {{/tileicon}}
        </span>
    {{/hasphoto}}
    {{#hasphoto}}
        <a class="tilebarphoto" data-imagetype="{{#isdraftfile}}draftfile{{/isdraftfile}}{{^isdraftfile}}tilephoto{{/isdraftfile}}"
           href="{{{phototileediturl}}}" style="background-image: url({{{phototileurl}}});"></a>
    {{/hasphoto}}
</span>